@inherits LayoutComponentBase
@layout RulerHub.Web.Components.Layout.MainLayout

@* @inject IStringLocalizer<Lang> local *@

<FluentLabel Typo="Typography.H1">Settings</FluentLabel>

<div>
    <FluentDivider />
    <FluentGrid>

        <FluentGridItem sm="2">
            <LogisticManageNavMenu />
        </FluentGridItem>

        <FluentGridItem sm="10">
            @Body
        </FluentGridItem>
    </FluentGrid>
</div>
