@inject NavigationManager NavigationManager

<div>
    <select @bind="Culture">
        <option value="es">Español</option>
        <option value="en">English</option>
    </select>
</div>

<!--Trabajando en el selector con FluentUi-->

@* <FluentSelect TOption="CultureInfo" @bind-SelectedOption="Culture">
    <FluentOption Value="new CultureInfo('es')">Español</FluentOption>
    <FluentOption Value="new CultureInfo('en')">English</FluentOption>
</FluentSelect> *@

@code {

    protected override void OnInitialized()
    {
        Culture = CultureInfo.CurrentCulture;
    }
    private CultureInfo Culture{
        get{ return CultureInfo.CurrentCulture; }
        set{if(CultureInfo.CurrentCulture != value){
                var uri = new Uri(NavigationManager.Uri)
                .GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);
                var cultureEscaped = Uri.EscapeDataString(value.Name);
                var uriEscaped = Uri.EscapeDataString(uri);

                NavigationManager.NavigateTo($"Culture/Set?culture={cultureEscaped}&redirectUri={uriEscaped}", forceLoad:true);
            }}
    }
}
