@inherits LayoutComponentBase
@layout SettingsLayout

@inject IStringLocalizer<Lang> local

<FluentLabel Typo="Typography.H1">@local["MenuSettings"]</FluentLabel>

<div class="manage">
    <FluentLabel Typo="Typography.H4">@local["SettingsHeaderText"]</FluentLabel>
    <FluentSpacer Width="1"/>
    <FluentDivider />
    <FluentSpacer Width="1" />

    <FluentGrid>
        <FluentGridItem sm="8">
            @Body
        </FluentGridItem>

        <FluentGridItem sm="2">
            <ManageNavMenu />
        </FluentGridItem>       
    </FluentGrid>
</div>
