@page "/settings"

@layout ManageLayout
@attribute [Authorize]

@inject IStringLocalizer<Lang> local

<PageTitle>@local["MenuSettings"]</PageTitle>

<div style="min-height: 250px;">

    <FluentStack>
        <FluentGrid>
            <FluentGridItem>
                <DesignThemeComponent />
            </FluentGridItem>
            <FluentGridItem>
                <CultureSelector />
            </FluentGridItem>
        </FluentGrid>
    </FluentStack>


    <FluentStack Style="margin: 20px 0px; padding: 30px; border: 1px solid var(--accent-fill-rest);"
                 HorizontalAlignment="HorizontalAlignment.Start">
        <FluentGrid>
            <FluentGridItem>
                <UserComponent />
            </FluentGridItem>
        </FluentGrid>
    </FluentStack>
</div>

@code
{
    
}

